body {
  background-image: url('http://vignette3.wikia.nocookie.net/cookieclicker/images/5/50/Wiki-background/revision/latest?cb=20130930144956');
  color: white;
  font-family: sans-serif;
  text-align: center;
}

img {
  width: 450px;
  height: 450px;
}

img:hover {
  width: 470px;
  height: 470px;
}

button {
  width: auto;
  height: auto;
  font-size: 50px;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 50px;
}
